---
layout: default
---

<div class="home">

  <h1 class="page-heading">Obbo Community Development Association of North America</h1>
  <p>
    The Obbo Community Development Association of North America was formed to create and foster unity among
    ourselves and our neighbors, promoting sustainable social and economic
    development by empowering women and youth. Bringing hope to the
    disadvantaged people in the community by addressing issues such as
    unemployment, illness, death, drug addictions and education.
  </p>
    <p><img src="/photos/home/img.png" alt="obbo community"/></p>
    
    <p>Nam in velit fermentum dolor hendrerit tempor. augue ornare, varius auctor dui accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel scelerisque risus. Nam pulvinar volutpat ipsum non gravida. Vestibulum rhoncus bibendum viverra. Sed non diam placerat, convallis ipsum sed, suscipit ligula.</p>
  <h1 class="page-heading">Latest OCDANA News</h1>

  <ul class="post-list">
   {% for post in site.categories.news %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>