.nav-wrapper {
    max-width: 80%;// -webkit-calc(#{$content-width} - (#{$spacing-unit} ));
    max-width: 80%; //       calc(#{$content-width} - (#{$spacing-unit} ));
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;
}